.app {
    gap: 30px;
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    font-size: 40;
    color: black;
    padding: 50px;
    width: min-content;
    height: max-content;

}